<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">

</head>
<body>
    <noscript>
        <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
      </noscript>
    <div id="app">
        <header> 
            <h1>
                <a href="">
                    <img src="/img/h1_logo.png">
                    <img src="/img/h1_logo_txt.png">
                </a>
            </h1>
            <div class="select">
                <select>
                  <option>한국어</option>
                  <option>english</option>
                  <option>china</option>
                  <option>japan</option>
                </select>
                <div class="select__arrow"></div>
            </div>
            <div id="lnb">
                <span>
                    <a href=""><img src="/img/ic_youtube.png"></a>
                    <a href=""><img src="/img/ic_facebook.png"></a>
                    <a href=""><img src="/img/ic_instagram.png"></a>
                </span>
                <ul>
                    <li><a href="">오프닝세션</a></li>
                    <li><a href="">컨퍼런스</a></li>
                    <li><a href="" class="on">온라인전시관</a></li>
                    <li><a href="">공지 및 이벤트</a></li>
                    <li><a href="">SNS</a></li>
                </ul>
            </div>
        </header>
        <section id="on_ex_container">
            <div class="left_section">
                <h2><input type="checkbox" id="c1" name="" class="leftch" /><label for="c1"><span></span>온라인 전시관 </label></h2>
                <ul>
                    <li><input type="checkbox" id="c2" name="" class="leftch" /><label for="c2"><span></span>가공식품</label></li>
                    <li><input type="checkbox" id="c3" name="" class="leftch" /><label for="c3"><span></span>간식</label></li>
                    <li><input type="checkbox" id="c4" name="" class="leftch" /><label for="c4"><span></span>건강식품</label></li>
                    <li><input type="checkbox" id="c5" name="" class="leftch" /><label for="c5"><span></span>마을공동체</label></li>
                    <li><input type="checkbox" id="c6" name="" class="leftch" /><label for="c6"><span></span>전통식품</label></li>
                    <li><input type="checkbox" id="c7" name="" class="leftch" /><label for="c7"><span></span>주류</label></li>
                    <li><input type="checkbox" id="c8" name="" class="leftch" /><label for="c8"><span></span>음료,차류</label></li>
                    <li><input type="checkbox" id="c9" name="" class="leftch" /><label for="c9"><span></span>천연염색</label></li>
                    <li><input type="checkbox" id="c10" name="" class="leftch" /><label for="c10"><span></span>화장품</label></li>
                </ul>
                <div class="search">
                    <h3>부스명 검색</h3>
                    <span><input type="text"><button type="submit"><img src="/img/ic_search.png"></button></span>
                </div>
                <p><img src="/img/img_com.png"></p>
            </div>
            <div class="right_section">
                <div class="content">
                   <div class="subtop menu01">
                       <h3><strong>건강식품</strong>관 </h3>
                   </div>
                   <div class="slider">
                    <div class="arrows">
                       <label class="goto-first" for="slides_1"></label>
                        <label class="goto-last" for="slides_2"></label>
                      </div>
                      <div class="navigation"> 
                        <div>
                          <label for="slides_1">
                              <span><em>㈜휴럼</em><img src="/img/img_brand_sm01.png"></span>
                              <span><em>㈜시루에 담은 꿈</em><img src="/img/img_brand_sm02.png"></span>
                              <span><em>㈜제주자연초</em><img src="/img/img_brand_sm03.png"></span>
                              <span><em>㈜에버그린  </em><img src="/img/img_brand_sm04.png"></span>
                              <span><em>㈜휴럼</em><img src="/img/img_brand_sm05.png"></span>
                          </label>
                          <label for="slides_2"><span>㈜휴럼</span><img src="/img/img_brand_sm01.png"></label>
                        </div>
                      </div>
                   </div>
                </div>
            </div>
        </section>
    </div>
   
 
</body>
</html>
