@import url("./common.css");

#wrap{position: relative;margin:0 auto;text-align:center;width:100%;border-top:20px solid #f3be38;box-sizing: border-box;}
header{position: relative;width:100%;margin:0 auto;text-align:center;}