@import url("./common.css");

#wrap{position: relative;margin:0 auto;text-align:center;width:100%;}
header{position: relative;display:block;overflow:hidden;width:100%;margin:0 auto;text-align:center;min-height:270px;border-top:20px solid #f3be38;box-sizing: border-box}
header h1{display:block;position:relative;margin:0 auto;text-align:center;overflow:hidden;padding:40px 0;}
header h1 img{display:block;margin:0 auto;margin-bottom:10px;}
header .select{position:absolute !important;top:32%;right:13%;}
header .select select {font-size:17px;color:#222;font-weight:bold;}
header #lnb{position:relative;margin:0 auto;text-align:center;width:100%;border-top:1px solid #9c9c9c;border-bottom:1px solid #9c9c9c;}
header #lnb ul{padding:0px;margin:0px auto;text-align:center;width:100%;max-width:865px;display:block;overflow:hidden;}
header #lnb ul li{float:left;width:20%;text-align:center;}
header #lnb ul li a{display:block;color:#222;font-size:19px;padding:30px 0;font-weight:bold;}
header #lnb ul li a:hover,
header #lnb ul li a.on,
header #lnb ul li a:active{font-weight:bold;color:#289ab9;}
header #lnb > span{position:absolute;left:13%;top:27%;}
header #lnb > span a{display:inline-block;margin-right:5px}

#main_container{position:relative;width:100%;min-height:1110px;margin:0 auto;text-align:center;overflow:hidden;background:url(/img/bg_green.png) no-repeat center top, url(/img/bg_greenline.png) repeat center top;}
#main_container > h2{position: absolute;width:100%;margin:0 auto;text-align:center;background-color: rgba(255,255,255,0.4);left:0px;top:0px;height:60px;line-height: 60px;z-index:80;font-size:24px;color:#222;}
#main_container .spot{position:relative;margin:0 auto;text-align:center;min-height:1000px;width:100%; background: url(/img/bg_graybottom.png) repeat-x bottom;}

#main_container .spot > span{position:absolute;margin:0 auto;text-align:center;width:100%;left:0px;bottom:30px;}
#main_container .people {position:absolute;left:0px;width:100%;margin:0 auto;text-align:center;z-index:30;}
#main_container .people span:nth-last-of-type(1){position:absolute;right:23%;bottom:204px;}
#main_container .people span:nth-last-of-type(2){position:absolute;left:18%;bottom:80px;}
#main_container .spot .center{display:block;margin:0 auto;text-align:center;margin-top:110px;padding-bottom:500px;}
#main_container .spot .center iframe{border:8px solid #a4a5a7}
button.buy{border-radius:100em;display:block;margin:0 auto;text-align:center;font-size:26px;color:#fff;border:3px solid #fff;background:#777777;padding:15px 25px;}
#main_container .left{position:absolute;left:0px;width:25%;top:0px;min-height:990px;z-index:70;margin-top:-90px;box-sizing:border-box;
  border-left:400px solid #fcb720;
  border-top:60px solid transparent;
  border-bottom:60px solid transparent;}

#main_container .right{position:absolute;right:0px;width:25%;min-height:990px; z-index:70;margin-top:-90px;box-sizing:border-box;
  border-right:400px solid #fcb720;
  border-top:60px solid transparent;
  border-bottom:60px solid transparent;
}
#main_container .left img,
#main_container .right img{position:absolute;max-width:330px;max-height:630px;margin-top:220px;}
#main_container .left img{left:-370px;z-index:90;transform:perspective(800px) rotateY(20deg)}
#main_container .right img{right:-370px;transform:perspective(500px) rotateY(-10deg)}

